body {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#inputs {
    display: table;
    border-spacing: 0.25rem 0.5rem;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.text-right {
    text-align: right;
}